{% load static %}
<!DOCTYPE html>
<html>
  <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.rtl.min.css" integrity="sha384-5/ZcxA7Dub2FNG09dHw8CHmPN7Fz6ASlweagj0nuXjmMyupgH9n9F5Hd926zsu3/" crossorigin="anonymous">
    </head><br>
  <link rel="stylesheet" href="{% static 'images/static.css' %}">
  <a href="thirdpage" class="my-button">Next Page</a>
    <a href="/" class="my-button">Home</a><br>
        <body style="background-image:url('{% static 'images/pic2.jpg' %}'); background-repeat: no-repeat;background-size: 100%;">
        <section id="about">
            <div class="about-1">
                <h1>BENEFITS</h1>
                <p>Yoga, an ancient practice and meditation, has become increasingly popular in today's busy society. For many people, yoga provides a retreat from their chaotic and busy lives. This is true whether you're practicing downward facing dog posture on a mat in your bedroom, in an ashram in India or even in New York City's Times Square. Yoga provides many other mental and physical benefits. Some of these extend to the kitchen table.</p>
                <p>Yoga develops inner awareness. It focuses your attention on your body's abilities at the pr</p>
                <p>Mindfulness refers to focusing your attention on what you are experiencing in the present moment without judging yourself.</p>
                <p>People who practice yoga and are mindful eaters are more in tune with their bodies. They may be more sensitive to hunger cues and feelings of fullness.</p>
                <p>Yoga is known for its ability to soothe tension and anxiety in the mind and body. But it can also have an impact on a person's exercise capacity.</p>
                <p>Several small studies have found yoga to have a positive effect on cardiovascular risk factors: It helped lower blood pressure in people who have hypertension. It's likely that the yoga restores "baroreceptor sensitivity." This helps the body senses imbalances in blood pressure and maintain balance.</p>
            </div>
            <br>
            <br>
            <div id="about-2">
                <div class="content-box-lg">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="about-item text-center">
                                    <i class="fa fa-book"></i>
                                    <h3>MISSION</h3>
                                    <hr>
                                    <p>society is overripe for a spiritual process.” His fundamental vision is to offer the science of inner wellbeing to every human being – a science that helps a person realize the ultimate potential within. From this vision stem a multitude of projects, programs, and methods, all towards the same aim: to raise every human being to the peak of their potential, so that they are exuberant, all-inclusive, and in harmony within themselves and the world.</p>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="about-item text-center">
                                    <i class="fa fa-book"></i>
                                    <h3>VOLUNTEERING</h3>
                                    <hr>
                                    <p>Volunteering allows you to have a profound experience of the ashram. It brings a deep sense of involvement and serves as a powerful tool for inner transformation.society is overripe for a spiritual process.” His fundamental vision is to offer the science of inner wellbeing to every human being – a science that helps a person realize the ultimate potential within. From this vision stem a multitude of projects, programs, and methods, all towards the same aim: to raise every human being to the peak of their potential, so that they are exuberant, all-inclusive, and in harmony within themselves and the world.</p>

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="about-item text-center">
                                    <i class="fa fa-book"></i>
                                    <h3>EVENTS</h3>
                                    <hr>
                                    <p>In many ways, the monthly cycles of the moon are related to one’s spiritual growth. Monthly events at Isha make use of this natural phenomenon. Amavasya and Purnima days (new moon and full moon, respectively), in particular, are days of special significance.</p>
                                    <P>Know more on about the various annual events at Inner Engineering, of spiritual, social and cultural significance.</P>
                                    <p>Learn about upcoming events - including public talks, In Conversation with the Mystic events, Darshans, Yantra Ceremonies and more.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>