{% load static %}
<!DOCTYPE html>
<html>
<head>
    <style>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.rtl.min.css" integrity="sha384-5/ZcxA7Dub2FNG09dHw8CHmPN7Fz6ASlweagj0nuXjmMyupgH9n9F5Hd926zsu3/" crossorigin="anonymous">
        </style>
</head>
<link rel="stylesheet" href="{% static 'images/static.css' %}">
<a href="/secondpage" class="my-button">About</a>
<a href="/" class="my-button">Home</a><br/>

<body style="background-image:url('{% static 'images/pic2.jpg' %}'); background-repeat: no-repeat;background-size: 100%;">

     <h2>ADVANCED PROGRAMS</h2>
     <h3>Shoonya Intensive</h3><p>
         For those who wish to go deeper, Shoonya Intensive is a refined and intensive, advanced program designed by Sadhguru.

         The program combines the dynamic Shakti Chalana Kriya (a set of powerful, purifying practices to enhance the flow of one’s vital energy) and Shoonya Meditation, an effortless process of conscious non-doing. Together, these practices stimulate the release of physical, mental and emotional blocks and lead to a deep sense of inner wellbeing.</p>
         <p>
             “If you observe yourself, when you are angry, you sit one way. If you are happy, you sit another way. If you are depressed, another way. For every level of consciousness or mental and emotional situation you go through, your body tends to take certain postures. The converse of this is the science of asanas. If you consciously get your body into different postures, you can elevate your consciousness. Understanding the mechanics of the body, creating a certain atmosphere, and using the body to drive your energy in specific directions is what yogasanas are about.” - Sadhguru
         </p>
     <h3> Bhava Spandana</h3>
     <p>
Bhava Spandana Program (BSP) is a 4-day, 3-night, residential program offered to those who have been initiated into Shambhavi Mahamudra. This advanced meditation program is designed by Sadhguru to provide the opportunity to go beyond the limitations of body and mind and experience higher levels of consciousness. Bhava Spandana offers the experience of a world of unbounded love and joy.</div>
 <p>
The word Bhava literally means “sensation.” Spandana can be loosely translated as “resonance.” Through powerful processes and meditations, the Bhava Spandana Program creates an intensely energetic situation, where individuality and the limitations of the five sense organs can be transcended, creating an experience of oneness and resonance with the rest of existence.         </div>
<h3>Samyama</h3>
<p>Samyama is an intensive residential program conducted by Sadhguru. Participants spend 8 days in complete silence with long hours of meditation. It provides the possibility for individuals to free themselves from the bonds of karma and purify the system, opening them up to subtler realms of experience. The program presents the potential for participants to reach heightened levels of consciousness and experience explosive states of meditativeness in the presence of Sadhguru</p>
<br>
<br>
<h3> CONTACT US <i>to make the life worthy to live fully</i></h3>
Sireeshalatha B<br>
07878787878<br>
siree@innerhealing.co.uk
</body>
</html>